<!-- Toast Container Ui Component  -->
<app-toast-container></app-toast-container>

<!-- SignUp Form -->
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="mt-10">

  <!-- Username Input -->
  <div>
    <app-ui-input type="text" label="Nombre de Usuario" placeholder="Ingresa tu nombre de Usuario" [required]="true"
      formControlName="str_user_username"></app-ui-input>
  </div>

  <!-- Email Input -->
  <div>
    <app-ui-input type="email" label="Correo Electrónico" placeholder="Ingresa tu correo electrónico" [required]="true"
      formControlName="str_user_email"></app-ui-input>
  </div>

  <!-- Password Inpu -->
  <div>
    <app-ui-input type="password" label="Contraseña" placeholder="Ingresa tu contraseña" [required]="true"
      formControlName="str_user_password"></app-ui-input>
  </div>

  <!-- Confirm Password Input -->
  <div>
    <app-ui-input type="password" label="Confirmar Contraseña" placeholder="Confirma tu contraseña" [required]="true"
      formControlName="str_user_confirm_password"></app-ui-input>
  </div>

  <!-- SignUp UI Button -->
  <app-ui-button type="submit" [disabled]="signUpForm.invalid" [loading]="loading">
    Registrarse
  </app-ui-button>

</form>
