<div class="flex p-4 md:p-6 lg:p-12 h-full">
  <div class="m-auto bg-white rounded-3xl shadow-2xl overflow-hidden flex flex-col md:flex-row
  max-w-4xl w-full">

    <!-- Columna de Formulario -->
    <div class="w-full md:w-1/2 p-8">
      <div class="mb-6">
        <img src="../../../../assets/2do-complete-logo.svg" alt="logo-2Do" class="w-32 mx-auto">
      </div>

      <h1 class="text-2xl sm:text-3xl font-bold mb-6 text-bagel text-center md:text-left">
        Crea tu cuenta en 2DO
      </h1>

      <!-- Sign Up Form -->
       <app-sign-up-form></app-sign-up-form>

      <p class="w-full gap-2 flex mt-4 text-sm text-gray-600 text-center md:text-left">
        ¿Ya tienes una cuenta? <a routerLink="/login" class="text-bagel"> Inicia sesión aquí</a>
      </p>

    </div>

    <!-- Columna de Información -->

    <div class="w-full md:w-1/2 bg-bagel p-6 md:p-8 lg:p-12">
      <div class="text-white">
        <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-6 text-center md:text-left">
          Lleva tus Tareas a otro nivel
        </h2>
        <p class="mb-8 text-sm md:text-base text-center md:text-left">
          Empieza a organizar tu vida como nunca antes. Regístrate en nuestra aplicación y descubre una herramienta poderosa para gestionar tus tareas, alcanzar tus metas y mantener todo bajo control. Con funciones personalizables y sincronización en tiempo real, tu productividad nunca ha estado en mejores manos. ¡Da el primer paso hoy!
        </p>
        <ul class="space-y-4">
          <li class="flex items-center justify-center md:justify-start text-sm md:text-base">
            <svg class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5 13l4 4L19 7" />
            </svg>
            Interfaz intuitiva y adaptable
          </li>
          <li class="flex items-center justify-center md:justify-start text-sm md:text-base">
            <svg class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5 13l4 4L19 7" />
            </svg>
            Gestión avanzada de tareas
          </li>
          <li class="flex items-center justify-center md:justify-start text-sm md:text-base">
            <svg class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5 13l4 4L19 7" />
            </svg>
            Sincronización en tiempo real
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
