<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidenav" id="drawer-navigation">

  <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">

    <!--***************************************************************************************-->
    <!-- *Principal List* -->
    <!--***************************************************************************************-->
    <ul class="space-y-2">

      <!--***************************************************************************************-->
      <!-- *Start Dashboard* -->
      <!--***************************************************************************************-->
      <li>
        <a href="#"
          class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg aria-hidden="true"
            class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
          </svg>
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <!--***************************************************************************************-->
      <!-- *Finish Dashboard* -->
      <!--***************************************************************************************-->

      <!--***************************************************************************************-->
      <!-- *Start Pages List* -->
      <!--***************************************************************************************-->
      <li>
        <button (click)="toggleMenu('pages')"
          class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <svg aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="flex-1 ml-3 text-left whitespace-nowrap">Pages</span>
          <svg *ngIf="!menuStates['pages']" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
          <svg *ngIf="menuStates['pages']" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
          </svg>
        </button>
        <ul
          [ngClass]="menuStates['pages'] ? 'max-h-96 opacity-100 scale-100' : 'max-h-0 opacity-0 scale-95'"
          class="transition-all duration-500 overflow-hidden ease-in-out space-y-2">
          <li>
            <a href="#"
              class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
              Settings
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
              Kanban
            </a>
          </li>
        </ul>
      </li>
      <!--***************************************************************************************-->
      <!-- *Finish Pages List* -->
      <!--***************************************************************************************-->

      <li>
        <button (click)="toggleMenu('controllers')"
          class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <svg aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="flex-1 ml-3 text-left whitespace-nowrap">Controllers</span>
          <svg *ngIf="!menuStates['controllers']" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
          <svg *ngIf="menuStates['controllers']" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
          </svg>
        </button>
        <ul
          [ngClass]="menuStates['controllers'] ? 'max-h-96 opacity-100 scale-100' : 'max-h-0 opacity-0 scale-95'"
          class="transition-all duration-500 overflow-hidden ease-in-out space-y-2">
          <li>
            <a href="#"
              class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
              Controller #1
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
              Controller #2
            </a>
          </li>
        </ul>
      </li>


    </ul>
    <!--***************************************************************************************-->
    <!-- *Finish Principal List* -->
    <!--***************************************************************************************-->

    <!--***************************************************************************************-->
    <!-- *Start Aditional Options* -->
    <!--***************************************************************************************-->
    <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <!--***************************************************************************************-->
      <!-- *Start Docs List* -->
      <!--***************************************************************************************-->
      <li>
        <a href="#"
          class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
          <svg aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
            <path fill-rule="evenodd"
              d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="ml-3">Docs</span>
        </a>
      </li>
      <!--***************************************************************************************-->
      <!-- *Finish Doc List* -->
      <!--***************************************************************************************-->

    </ul>
    <!--***************************************************************************************-->
    <!-- *Finish Aditional Options* -->
    <!--***************************************************************************************-->

  </div>

</aside>
